[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.6"
elasticsearch = "==8.17.0"
sentence-transformers = "==3.4.1"
pydantic = "==2.10.4"
pydantic-settings = "==2.7.1"
faker = "==33.3.0"
opentelemetry-api = "==1.29.0"
opentelemetry-sdk = "==1.29.0"
opentelemetry-instrumentation-fastapi = "==0.50b0"
opentelemetry-instrumentation-httpx = "==0.50b0"
opentelemetry-instrumentation-elasticsearch = "==0.50b0"
opentelemetry-exporter-otlp-proto-grpc = "==1.29.0"
opentelemetry-exporter-otlp-proto-http = "==1.29.0"
redis = "==5.2.1"
httpx = "==0.28.1"
orjson = "==3.10.14"
ujson = "==5.10.0"
python-dotenv = "==1.0.1"
uvicorn = {extras = ["standard"], version = "==0.34.0"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
